<div *ngIf="selectedEmp.Name">


<div class="container">

    <div class="col-md-6">
        <div class="row">
            <div class="col-md-4">
                 <img [src]="selectedEmp.pic" width="100%">
            </div>
            <div class="col-md-8"> 
                <h3>More details of {{selectedEmp.Name}}</h3><p>
                <input disabled [(ngModel)]="selectedEmp.id">
            </p>
            <p>
                <input  [(ngModel)]="selectedEmp.Name">
            </p> <p>
                <input  [(ngModel)]="selectedEmp.Address">
            </p></div>
            <button class="btn btn-success">Update<i class="fa fa-pencil"></i></button>
            <button  (click)="invokeFunc()" class="btn btn-danger">Delete</button>

        </div>
    </div>
</div>
</div>